body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr{
  text-align: left;
}

.heading{
  text-align: left;
  background-color: grey;
}
.age{
  background-color: rgb(27, 28, 29);
  cursor: not-allowed;
}

#tableid {
  margin: 50px;
  border: 2em;
  padding:2px; ;
}
